    <div style="clear:both;"></div>
        <footer class="footer">
          <a href="/creative-commons/" class="logo cc">Creative Commons</a>
          <small>
            <p>This learning resource is provided by <a href="{{ site.homeurl }}">Ian Grant aka Daisyrust</a> under a <a href="/creative-commons/">Creative Commons</a> licence.</p>
            <p>Find more at <a href="{{ site.homeurl }}">daisyrust.com/resources</a> and <a href="https://iboy.github.io/daisyrust/">github.io/daisyrust/</a>.</p>
          </small>
          <a href="https://iboy.github.io/daisyrust/" class="logo gh" title="View and edit this resource on GitHub">View and edit this resource on GitHub</a>
        </footer>		
    </div>
  </div>