<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="learning {{page.kind}} {{page.layout}} {{page.kind}}">
    <div class="container">
      {% include header.html %} 
      <div class="main">
        <article class="content">
          <h1>{{ page.title}}</h1>
          <div class="cover-image">
            <img src='images/cover.png' />
          </div>
          {{content}} 
          <nav class="buttons">
            <a class="button requirements" href="requirements/">What you will need</a>
            <a class="button worksheet" href="worksheet/">Get started</a>
          </nav>
        </article>
      </div>
      {% include footer.html %}
    </body>
</html>