a:link {
  color: #c61931;
  text-decoration: none; }

a:visited {
  color: #7e0b1b; }

a:hover {
  text-decoration: underline; }

strong, b {
  font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  text-transform: uppercase; }

h1 a:link, h1 a:visited {
  color: white; }

h2 a:link, h2 a:visited, h3 a:link, h3 a:visited {
  color: #222; }

#nav ul li {
  display: block;
  float: left;
  height: 50px;
  width: 154px;
  padding: 0;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px; }

#nav ul li.home {
  width: 50px;
  background: #000 url("images/logo-black.png") no-repeat;
  text-indent: -9999px; }

#nav ul li a {
  display: block;
  width: 154px;
  height: 35px;
  color: white;
  padding: 15px 0 0; }

#nav ul li a:hover {
  text-decoration: none; }

.main {
  padding: 50px 0;
  margin: 0 50px; }

.main p {
  margin: 20px 0; }

.p-40 {
  width: 40%; }

.p-50 {
  width: 50%; }

.p-60 {
  width: 60%; }

.col-40 {
  float: left;
  width: 325px; }

.col-50 {
  float: left;
  width: 50%; }

.col-60 {
  float: left;
  width: 580px;
  margin-right: 19px; }

.col-40 img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

.col-40.raised {
  margin: -50px 0 50px; }

nav.prevnext div {
  width: 48%;
  height: 20px;
  float: left;
  text-align: center;
  margin-bottom: 10px;
  padding: 3px 1%;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400; }

aside.sidebar nav.posts ul li {
  width: 284px;
  float: right;
  margin-bottom: 10px;
  padding: 3px 10px;
  list-style-type: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: right; }

a.apply, .entry-content a.apply, a.register-interest, .entry-content a.register-interest {
  width: 200px;
  height: 40px;
  display: block;
  margin: 30px auto 10px;
  background: #328AAB;
  border: 3px solid #70ADC4;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  text-decoration: none; }

ul.grid li a.num-comments.text-label {
  width: auto;
  padding: 0 5px;
  background: #c61931;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase; }

article.home-part aside.latest .text {
  background: white; }

article.home-part aside.latest h3 {
  margin: 0;
  font-size: 16px;
  line-height: 19px; }

article.home-part aside.latest h3 a {
  color: black; }

article.home-part p.excerpt, ul.grid li p.excerpt, dl.grid dt p.excerpt {
  display: none;
  width: 200px;
  margin: 5px 0;
  color: #666;
  font-size: 12px;
  line-height: 15px; }

article.home-part p.excerpt {
  height: 60px; }

article.home-part aside.latest p.excerpt {
  display: block; }

article.home-part p.more, ul.grid li p.more, dl.grid dt p.more {
  height: 15px;
  margin: 0;
  text-align: right; }

article.home-part aside.latest .text, .grid .text {
  padding: 10px;
  height: 139px;
  border-bottom: 3px solid #222; }

article.home-part aside.latest.blog .text {
  border-bottom: 3px solid #ffb300; }

article.home-part aside.latest.education .text {
  border-bottom: 3px solid #328aab; }

article.home-part aside.latest.community .text {
  border-bottom: 3px solid #71456c; }

article.home-part aside.latest.help .text {
  border-bottom: 3px solid #008375; }

article.home-part aside.latest .text .inner, ul.grid li .text .inner, dl.grid li .text .inner {
  height: 127px; }

article.home-part.grid h2 {
  border: 0;
  font-size: 16px;
  margin: 40px 0 0;
  padding: 0;
  border-bottom: 1px solid #222;
  width: 100%;
  color: black;
  line-height: 26px; }

article.home-part.grid h2.below {
  margin: 10px 0 0;
  border-bottom: 0;
  text-align: right; }

article.home-part.grid.blog h2 {
  border-color: #ffb300; }

article.home-part.grid.education h2 {
  border-color: #328aab; }

article.home-part.grid.community h2 {
  border-color: #71456c; }

ul.grid, dl.grid {
  margin: 0 auto;
  padding: 0; }

ul.grid.three {
  width: 708px; }

ul.grid li, dl.grid dt {
  width: 216px;
  height: 206px;
  float: left;
  position: relative;
  margin: 10px;
  list-style-type: none; }

dl.grid dt {
  clear: both;
  margin: 0 0 50px; }

dl.grid dd {
  width: calc(100% - 216px - 30px);
  min-height: 186px;
  margin: 0 0 50px 10px;
  padding: 10px;
  float: left;
  background: white;
  font-size: 14px;
  line-height: 24px; }

dl.grid dd p {
  margin: 0; }

ul.grid li:nth-of-type(4n+1) {
  margin-left: 0; }

ul.grid li:nth-of-type(4n) {
  margin-right: 0; }

ul.grid li .img, ul.grid li .img img {
  display: block;
  width: 216px;
  height: 150px; }

ul.grid li a.a, dl.grid dt a.a {
  display: block;
  height: 150px; }

ul.grid li div.text, dl.grid dt div.text {
  width: 200px;
  height: 45px;
  background: white;
  margin: 0;
  padding: 4px 8px;
  overflow: hidden; }

ul.grid li div.text a:link, ul.grid li div.text a:visited, article.home-part aside.latest div.text a:link, article.home-part aside.latest div.text a:visited, dl.grid dt div.text a:link, dl.grid dt div.text a:visited {
  color: #222; }

ul.grid li div.text a:hover, article.home-part aside.latest div.text a:hover, dl.grid dt div.text a:hover {
  text-decoration: none; }

ul.grid li a.num-comments:hover, article.home-part aside.latest .img a.num-comments:hover {
  text-decoration: none; }

.grid.blog div.text, .grid .blog div.text {
  border-color: #ffb300; }

.grid.education div.text, .grid .education div.text, .grid.resources div.text, .grid .resources div.text {
  border-color: #328aab; }

.grid.teach div.text, .grid .teach div.text {
  border-color: blue; }

.grid.learn div.text, .grid .learn div.text {
  border-color: yellow; }

.grid.make div.text, .grid .make div.text {
  border-color: red; }

.grid.help div.text, .grid .help div.text {
  border-color: #008375; }

ul.grid.downloads li div.text, .grid .downloads div.text {
  border-color: #c61931; }

ul.grid.piweekly li div.text, .grid .piweekly div.text {
  border-color: #4c9c72; }

.grid.community div.text, .grid .community div.text {
  border-color: #71456c; }

ul.grid li .text .inner, dl.grid dt .text .inner {
  height: 100px;
  overflow: hidden; }

article.home-part.grid p, ul.grid li p, dl.grid dt p {
  overflow: hidden; }

article.home-part.grid p.more, ul.grid li p.more, dl.grid dt p.more {
  display: none; }

ul.grid li:hover div.text {
  height: 103px;
  margin-top: -58px; }

article.home-part.grid ul.grid li:hover p.more, ul.grid li:hover p {
  height: auto;
  display: block; }

ul.grid li div.text h3, dl.grid dt div.text h3 {
  height: 45px;
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: black; }

ul.grid li div.text h3 a, dl.grid dt div.text h3 a {
  display: block; }

.entry-content img, .content .image-container img {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 500px;
  height: auto; }

.entry-content img.wp-smiley {
  border: 0; }

.wp-caption p.wp-caption-text {
  background: white;
  padding: 10px;
  margin: -7px 5px 0 5px !important;
  border-bottom: 3px solid #ffb300; }

.wp-caption img, .content .image-container img {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0; }

.entry-content .gallery {
  margin: 0 !important;
  padding: 0; }

.entry-content .gallery-item {
  margin: 0 !important; }

.entry-content .gallery-item img {
  max-width: calc(100% - 10px);
  border: 2px solid #f2f1f0 !important; }

.entry-content .gallery-caption {
  margin: 0px 10px;
  font-size: 11px;
  line-height: 16px; }

.entry-content small {
  font-size: 12px; }

.entry-content table {
  border-collapse: separate;
  border-spacing: 2px;
  border-color: transparent; }

.entry-content table tr {
  background: #f2f1f0;
  display: table-row; }

.entry-content table th {
  text-align: left; }

.entry-content table th, .entry-content table td {
  display: table-cell;
  padding: 2px 10px; }

.page-bett-schedule table td:nth-child(1) {
  width: 12%; }

.page-bett-schedule table td:nth-child(2) {
  width: 35%; }

.page-bett-schedule table td:nth-child(3) {
  width: 20%; }

.page-bett-schedule table td:nth-child(4) {
  width: 33%; }

.content iframe, .entry-content iframe {
  display: block;
  margin: 20px auto; }

.comments {
  width: 580px; }

.comments ol.commentlist {
  margin: 0;
  padding: 0; }

.comments ol.children {
  margin: 0;
  padding: 20px; }

.comments ol.commentlist li {
  list-style-type: none;
  font-size: 13px;
  line-height: 20px; }

.comments ol.commentlist li p {
  margin: 10px 0; }

.comments ol.commentlist li .comment-body {
  width: 500px;
  background: #f2f1f0;
  margin: 10px 0;
  padding: 10px;
  border-top: 2px solid #f2f1f0; }

.comments ol.commentlist li .comment-body a {
  word-wrap: break-word; }

.comments ol.commentlist li.byuser > .comment-body {
  border-top: 2px solid #c61931;
  background: #fdfdfd url("images/raspi-red-trans-25.png") no-repeat right 5px bottom 5px; }

.comments ol.commentlist li.comment-author-ukscone > .comment-body {
  border-top: 0;
  background: #f2f1f0; }

.comments .comment-author, .comments .comment-meta {
  width: 50%;
  height: 50px;
  float: left;
  line-height: 32px; }

.comments .comment-meta {
  text-align: right; }

.comments .comment-author .fn {
  color: #c61931;
  font-style: normal; }

.comments .comment-author img.avatar {
  border-radius: 16px;
  margin: 0 10px -10px 0; }

#commentform textarea {
  width: 500px;
  height: 200px; }

#commentform .form-allowed-tags {
  font-size: 12px;
  line-height: 20px; }

.page-archive .year {
  display: none; }

.page-archive .year.open {
  display: block; }

.page-archive h2 a.year-toggle:after {
  content: "+";
  display: inline-block;
  margin-left: 5px; }

.page-archive h2 a.year-toggle.open:after {
  content: "-"; }

ul.grid.help li {
  background: #008375; }

ul.grid.community li {
  background: #71456c; }

ul.grid.teach li, ul.grid.resources li.teach {
  background: #70adc4; }

ul.grid.learn li, ul.grid.resources li.learn {
  background: #99c4d5; }

ul.grid.make li, ul.grid.resources li.make {
  background: #20bee8; }

.footnote {
  padding: 40px 0;
  text-align: center; }

.page-about ul.hall-of-fame {
  padding: 0; }

.page-about ul.hall-of-fame li {
  list-style-type: none;
  list-style-image: none;
  clear: both; }

.page-about ul.hall-of-fame p {
  margin-top: 0; }

.page-about ul.hall-of-fame .image {
  width: 200px;
  float: left;
  margin: 40px 0 20px; }

.page-about ul.hall-of-fame .image img {
  width: 150px;
  height: 150px;
  border: 2px solid white;
  border-radius: 10px; }

.page-about ul.hall-of-fame .bio {
  max-width: 550px;
  float: left; }

nav.breadcrumbs {
  height: 30px;
  width: 50%;
  margin-top: 50px;
  padding: 3px 10px;
  background: #d8d1c9;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px; }

.page-history article.item {
  clear: both; }

.page-history article.item:nth-child(odd) {
  float: left;
  width: calc(50% - 20px - 2px);
  border-right: 2px solid black;
  padding-right: 20px;
  text-align: right; }

.page-history article.item:nth-child(even) {
  float: right;
  width: calc(50% - 20px);
  border-right: 0;
  border-left: 2px solid black;
  padding-left: 20px;
  padding-right: 0; }

.page-jam form#past-upcoming {
  text-align: right; }

.page-jam #map {
  width: 100%;
  height: 400px;
  margin-bottom: 50px; }

.page-jam div.info-marker {
  font-size: 11px;
  line-height: 20px;
  overflow: hidden; }

.page-jam #map div.info-marker {
  width: 220px;
  height: 130px; }

.page-jam div.info-marker strong {
  display: block;
  height: 40px;
  margin-bottom: 5px;
  text-transform: uppercase; }

.page-jam div.info-marker .details {
  height: 60px; }

.page-jam div.info-marker .links {
  text-align: right; }

.page-jam #calendar {
  background: white;
  padding: 10px; }

.page-jam .fc-event, .fc-event:hover, .ui-widget .fc-event {
  cursor: pointer; }

.single-piweekly .newsletter {
  width: 576px;
  margin: 50px auto 0;
  padding: 20px;
  background: #4c9c72; }

.single-piweekly .newsletter .content {
  margin: 0 0 40px;
  padding: 10px;
  background: #f0f0f0;
  font-size: 14px;
  line-height: 24px; }

.single-piweekly .newsletter .inner {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background: white; }

.single-piweekly .newsletter .inner a:link {
  color: #4c9c72; }

.single-piweekly .newsletter .inner a:visited {
  color: #008375; }

.single-piweekly .newsletter header .meta {
  height: 64px;
  font-size: 14px;
  line-height: 100%;
  font-weight: bold;
  color: #787878; }

.single-piweekly .newsletter header .meta div {
  width: 50%;
  float: left; }

.single-piweekly .newsletter header .meta div a, .single-piweekly .newsletter header .meta div a:visited {
  color: #787878; }

.single-piweekly .newsletter header .meta .date {
  text-align: right; }

.single-piweekly .newsletter h1 {
  background: none;
  width: 570px;
  margin: 0 0 50px;
  padding: 0;
  color: black;
  font-size: 38px;
  line-height: 100%;
  font-weight: bold;
  text-transform: none;
  text-align: center; }

.single-piweekly .newsletter .picture {
  text-align: center; }

.single-piweekly .newsletter h2 {
  margin: 0;
  font-size: 20px;
  line-height: 45px;
  text-transform: none;
  text-align: center;
  font-weight: 500; }

.single-piweekly .newsletter ul.pw-links {
  margin: 10px 0 0;
  padding: 0;
  overflow: hidden; }

.single-piweekly .newsletter ul.pw-links li {
  margin: 0 0 10px;
  clear: left;
  list-style-image: none;
  list-style-type: none;
  overflow: hidden; }

.single-piweekly .newsletter ul.pw-links li:last-of-type {
  margin-bottom: 0; }

.single-piweekly .newsletter ul.pw-links li div {
  width: 226px;
  height: 150px;
  float: left;
  box-sizing: border-box; }

.single-piweekly .newsletter ul.pw-links li div.text {
  width: 310px;
  padding-left: 10px;
  border-left: 2px solid #f0f0f0; }

.single-piweekly .newsletter ul.pw-links li h3 {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  text-transform: none; }

.single-piweekly .newsletter ul.pw-links li h3.inline {
  display: inline; }

.single-piweekly .newsletter ul.pw-links li div.text .domain {
  display: block;
  width: 100%;
  margin-bottom: 14px;
  font-weight: bold; }

.single-piweekly p.contact {
  color: white;
  text-align: center; }

.single-piweekly p.contact a:link, .single-piweekly p.contact a:visited {
  color: white;
  font-weight: bold; }

.single-piweekly aside.signup {
  width: 570px;
  margin: 0 auto;
  text-align: center;
  margin: 50px auto; }

.gform_wrapper form * {
  max-width: 500px; }

.entry-content .gform_wrapper img {
  margin: 0; }

.gform_wrapper .ginput_complex label {
  margin: 0 0 10px 0 !important;
  line-height: 20px; }

.gform_wrapper .gfield_description {
  padding: 0 !important; }

.ginput_right select {
  margin-bottom: 0 !important; }

.gform_wrapper form .gfield.with-details label, .gform_wrapper div.charleft {
  margin-top: -6px; }

.gform_wrapper .description, .gform_wrapper .gfield_description, .gform_wrapper .gsection_description, .gform_wrapper .instruction {
  font-family: 'Roboto', sans-serif; }

.team {
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.team .team-member {
  float: left;
  width: 168px;
  height: 265px;
  margin: 10.5px;
  font-size: 12px;
  line-height: 18px;
  text-align: center; }

.team .team-member:nth-of-type(5n+1) {
  margin-left: 0; }

.team .team-member:nth-of-type(5n) {
  margin-right: 0; }

.team .team-member .photo {
  width: 100%;
  height: 202px; }

.team .team-member .photo img {
  width: 100%; }

.team .team-member .photo .text {
  display: none;
  box-sizing: padding-box;
  height: 100%;
  padding: 8px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-weight: 500; }

.team .team-member:hover .photo .text {
  display: block; }

.team .team-member .photo .text .bio {
  height: 160px; }

.team .team-member .photo .text .links {
  height: 22px; }

.team .team-member .photo .text .links a {
  float: left;
  width: 27px;
  height: 26px;
  text-indent: -9999px;
  margin: 0 2px; }

.team .team-member .photo .text .links a:first-child {
  margin-left: 0; }

.team .team-member .photo .text .links a:last-child {
  margin-right: 0; }

.team .team-member .photo .text .links a.twitter {
  background: url("images/social-icons/twitter-26x26.png") no-repeat; }

.team .team-member .photo .text .links a.github {
  background: url("images/social-icons/github-26x26.png") no-repeat; }

.team .team-member .photo .text .links a.linkedin {
  background: url("images/social-icons/linkedin-26x26.png") no-repeat; }

.team .team-member .photo .text .links a.raspberrypi {
  background: url("images/social-icons/raspberrypi-26x26.png") no-repeat; }

.team .team-member .photo .text .links a.web {
  background: url("images/social-icons/web-26x26.png") no-repeat; }

.team .team-member .info {
  background: white;
  border-bottom: 3px solid #222; }

.team .team-member .name {
  padding-top: 3px;
  height: 20px;
  font-weight: bold; }

.team .team-member .title {
  height: 40px; }

.footnote small {
  font-size: 12px; }

footer.footer {
  width: 100%; }

#footer {
  background: #858279;
  border-top: 10px solid black; }

.blog #footer, .single-post #footer, .page-archive #footer, .archive #footer, .section-blog #footer {
  border-color: #ffb300; }

.page-downloads #footer, .section-downloads #footer {
  border-color: #c61931; }

.page-community #footer, .page-jam #footer, .parent-pageid-9369 #footer, .section-community #footer, .post-type-archive-piweekly #footer, .single-piweekly #footer {
  border-color: #71456c; }

.page-help #footer, .parent-pageid-6865 #footer, .documentation #footer, .section-help #footer {
  border-color: #008375; }

.page-resources #footer, .section-education #footer {
  border-color: #328aab; }

.tax-resource-category.term-teach #footer {
  border-color: #70adc4; }

.tax-resource-category.term-learn #footer {
  border-color: #99c4d5; }

.tax-resource-category.term-make #footer {
  border-color: #20bee8; }

footer .footer-contents {
  margin: 0 50px;
  overflow: auto; }

footer .footer-contents ul {
  width: 100%;
  float: left;
  padding: 0;
  overflow: auto; }

footer .footer-contents ul li {
  display: block;
  width: 100%; }

footer .footer-contents ul.about-us li {
  width: 25%;
  float: left;
  padding: 0;
  overflow: auto; }

footer .footer-contents h2 {
  font-size: 14px;
  line-height: 22px;
  margin: 10px 0; }

footer .footer-contents {
  font-size: 14px;
  line-height: 20px; }

footer .footer-contents ul.about-us li ul {
  width: 100%;
  padding: 0;
  overflow: auto; }

footer .footer-contents ul.about-us li ul li {
  width: 100%;
  padding: 0;
  overflow: auto; }

footer .footer-contents ul.site-links {
  width: 100%;
  padding: 0;
  overflow: auto; }

#footer .footer-contents ul li a {
  color: white; }

#footer footer {
  clear: both;
  margin: 0 auto;
  padding: 20px 0;
  overflow: auto; }

#footer footer .info:before {
  float: left;
  width: 50px;
  height: 50px;
  content: url("images/logo-white.png"); }

#footer footer .info {
  float: left;
  width: 384px;
  height: 50px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  color: white; }

#footer footer ul.site-links {
  float: right;
  width: 321px;
  margin: 30px 0 0;
  text-align: right; }

footer ul.site-links li {
  float: left;
  width: auto;
  margin: 0 20px 0 0; }

body.documentation nav.breadcrumbs {
  width: calc(100% - 20px); }

footer.licence {
  width: 420px;
  float: right;
  background: #d8d1c9;
  padding: 3px 10px;
  overflow: auto;
  text-align: right;
  font-size: 12px;
  text-transform: uppercase; }

footer.licence aside {
  float: right; }

footer.licence .octocat img {
  width: 70px;
  height: auto;
  margin-left: 10px;
  border-radius: 35px; }

footer.licence .links {
  margin-top: 10px; }

footer.licence .links .cc img {
  margin-top: 20px; }
